.opt{
    display: flex;
  justify-content: center;
  align-items: center
}

.btnB {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
cursor: pointer;
width: 80px;
height: 60px;
border: none;
border-radius: 8px;
background-color: red;
color: whitesmoke;
margin-right: 20px;
text-align: center;
&:hover, &:focus{
background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px red;
color: red;
}
}

.btnN {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
cursor: pointer;
width: 80px;
height: 60px;
border: none;
border-radius: 8px;
background-color: gray;
color: whitesmoke;
margin-right: 20px;
text-align: center;
&:hover, &:focus{
background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px grey;
color: gray;
}
}

.btnG {
box-shadow: 8px 8px 24px 0px rgba(0, 22, 255, 1);
cursor: pointer;
width: 80px;
height: 60px;
border: none;
border-radius: 8px;
background-color: green;
color: whitesmoke;
margin-right: 20px;
text-align: center;
&:hover, &:focus{
background-color: rgb(11, 0, 75);
box-shadow: 8px 8px 24px 0px green;
color: green;
}
}

.btnR {
box-shadow: 8px 8px 24px 0px blue;
cursor: pointer;
width: 80px;
height: 60px;
border: none;
border-radius: 8px;
background-color: orange;
color: whitesmoke;
margin-right: 20px;
&:hover, &:focus{
background-color: olive;
box-shadow: 8px 8px 24px 0px orange;
color: black;
}
}